# API Configuration
NUXT_PUBLIC_BASE_API_URL=http://localhost:8080
NUXT_PUBLIC_BASE_SOCKET_URL=ws://localhost:8080

# Production Example (Update these with your actual production URLs)
# NUXT_PUBLIC_BASE_API_URL=https://api.yourdomain.com
# NUXT_PUBLIC_BASE_SOCKET_URL=wss://api.yourdomain.com

# Location API
NUXT_PUBLIC_BASE_API_LOCATION=https://provinces.open-api.vn/api/v2

# Site Configuration
NUXT_PUBLIC_SITE_URL=https://cinebookmovie.vercel.app
NUXT_PUBLIC_API_BASE=/api
