@import 'tailwindcss';
@import '@nuxt/ui';
@import './button.css';

@theme static {
  --color-primary: #00e080;
  /* Light */
  --color-light-bg: #f9fafc;
  --color-bg-light: #f3f4f6;
  --color-border-light: #cad5e2;

  /* Dark */
  --color-bg-primary-dark: #1d2a3d;
  --color-text-seconary: #90a1b9;
  --color-border-dark: #314158;

  /* Error */
  --color-text-error: #d10000;
}

/* Swiper pagination dots */
.swiper .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.4;
  width: 14px;
  height: 14px;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--color-primary);
  opacity: 1;
  width: 14px;
  height: 14px;
}

/* Smoother fade/easing for slides */
.swiper .swiper-slide {
  transition-timing-function: ease-in-out;
}
